.container {
  display: flex;
  background-color: rgb(236, 223, 166);
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  margin: 1rem;
  border-radius: 8px;
}


.icons {
  background-color: rgb(232, 32, 89);
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px #6a6363;
}

.btn{
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 2px #6a6363;
  background-color: rgb(41, 113, 247);
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;

}

.btn:hover{
  background-color: rgb(20, 66, 151);
}

.btnContainer{
  display: flex;
  gap: 2rem;
  margin: 1rem;

}

.noBtnContainer{
  display: none;
}