body {
  background-color: powderblue;
}

.container {
  background-color: powderblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

.bodySection {
  border-left: 3px solid #c0eaf7;
  height: 100vh;
  margin-left: 247px;
  padding: 0 5px;
  max-width: 100%;
}
.logo{
  margin-left: 1rem;
}
@media screen and (max-width: 1240px) {
  .bodySection {
    border-left: 3px solid #c0eaf7;
    height: 100vh;
    padding: 0 5px;
  }
}

/* domain card */

.RecordsTable {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
}

.schema {
  display: flex;
  font-weight: bold;
  margin-top: 2rem;
}
.schemaCellLeft {
  border: 1px solid #78c2f6;
  border-top: none;
  border-left: none;
}
.schemaCell {
  border: 1px solid #ccc;
  border-top: none;
}
.schemaCellRight {
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
}
.delete{
  padding: .7rem 2rem;
  border-radius: 8px;
  border: none;
  background-color: #c75555;
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 1px #aa9898;
}
.delete:hover{
  background-color: black;
}