.container{
    display: flex;
    background-color: pink;
    flex-direction: column;
    padding: 1rem 1rem 10rem 1rem;
    align-items: center;
    margin: 1rem;
    border-radius: 8px;
}
.btn{
    padding: 0.8rem 2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}
.btn:hover{
    background-color: black;
    color: white;
}
.input{
    padding: .8rem 1rem;
    border: none;
    border-radius: px;
    margin-top: .5rem;
    width: 25rem;
}
.form{
    margin-top: 2rem;
}