/* logo container */

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 250px;
  gap: 1rem;
}

.logoContainer a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.Hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.001rem 0.5rem;
}
.Hamburger:hover {
  background: rgb(104, 150, 236);
  box-shadow: 1px 1px 5px 1px #729eb175;
  border-radius: 50%;

  cursor: pointer;
}
