.container {
  border: 3px solid #72aee6;
  min-height: 200px;
  width: 270px;
  border-radius: 2rem;
  display: flex;
   align-items: center;
  justify-content: center; 
  flex-direction: column;
  background: linear-gradient(
    160deg,
    rgb(170, 196, 243) 0%,
    #ffffff 50%,
    rgb(250, 236, 160) 100%
  );
  text-decoration: none;
  color: black;
  gap: 0.5rem;
  position: relative;
  box-shadow: 1px 1px 15px 1px #c9bfbf;
  margin: auto;
}

.domainName {
  font-size: 16px;
  font-weight: 400;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.2rem;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddcbcb;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  position: absolute;
  bottom: 0.5rem;
}
